*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.quiz{
    width: 90%;
    height: 60%;
    color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8em;
    justify-content: space-around;
    padding: 0.5em;
}
.answer_container{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
height: 15em;
}

.answer{
background-color: #202020;
color: white;
width: 15em;
padding: 0.8em;
}

.wrong{
    background-color: #BF1111;
}

.correct{
    background-color: #47A603;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: .2em;

}

.menu section{
    font-weight: bold;
    display: flex;
    gap: 2em;
   
}

.menu section p {
    border: 1px solid #303030;
    padding: .3em;
    border-radius: .2em;
}

.menuQUiz{
    background-color: #202020;
    padding: .2em;
    border-radius: .2em;
    color: white;
    cursor: pointer;

}

.menuQUiz div{
    display: flex;
}

input{
    padding: .3em;
    border-radius: .2em;
    border: none;
}

button.btn{
  border: none;
  padding: .5em 1em;
  font-weight: bold;
  width: 10em;
  height: 3em;
}

.menu_quiz {
    gap: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu_quiz aside, .menu_asker aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5em;
}


.menu_asker{
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
   gap: 1em;
}
